<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>WeixinAppID</key>
        <string>wx52d142d7113b90dd</string>
        <key>OAuthServices</key>
        <array>
            <dict>
                <key>appkey</key>
                <string>1678040657</string>
                <key>secretkey</key>
                <string>bed6591acabc8044e53fd34bf265c350</string>
                <key>key</key>
                <string>weibo2</string>
                <key>title</key>
                <string>新浪微博</string>
                <key>name</key>
                <string>SinaWeiboSharer2</string>
                <key>oauthType</key>
                <string>2</string>
                <key>isMore</key>
                <false/>
                <key>accessTokenURL</key>
                <string>http://api.t.sina.com.cn/oauth/access_token</string>
                <key>authorizeURL</key>
                <string>https://api.weibo.com/oauth2/authorize</string>
                <key>requestTokenURL</key>
                <string>http://api.t.sina.com.cn/oauth/request_token</string>
                <key>callbackURL</key>
                <string>https://api.weibo.com/oauth2/default.html</string>
            </dict>
            <dict>
                <key>appkey</key>
                <string>801353739</string>
                <key>secretkey</key>
                <string>6eb80e3682b776a43c81ee8811aaaf70</string>
                <key>key</key>
                <string>qqmb</string>
                <key>title</key>
                <string>腾讯微博</string>
                <key>name</key>
                <string>TXWeiboSharer</string>
                <key>oauthType</key>
                <string>1</string>
                <key>isMore</key>
                <false/>
                <key>authorizeURL</key>
                <string>https://open.t.qq.com/cgi-bin/authorize</string>
                <key>requestTokenURL</key>
                <string>https://open.t.qq.com/cgi-bin/request_token</string>
                <key>accessTokenURL</key>
                <string>http://open.t.qq.com/cgi-bin/access_token</string>
                <key>callbackURL</key>
                <string>http://127.0.0.1/success.html</string>
            </dict>
            <dict>
                <key>appkey</key>
                <string>arMRvY1IiO319LV1IXNt</string>
                <key>secretkey</key>
                <string>h5=Amg(Hb=nsjs#r5YS*e-dwyUl8UrcA5!UAlNNs</string>
                <key>key</key>
                <string>sohumb</string>
                <key>title</key>
                <string>搜狐微博</string>
                <key>name</key>
                <string>SouhuWeiboSharer</string>
                <key>oauthType</key>
                <string>0</string>
                <key>isMore</key>
                <false/>
                <key>accessTokenURL</key>
                <string>http://api.t.sohu.com/oauth/access_token</string>
                <key>authorizeURL</key>
                <string>http://api.t.sohu.com/oauth/authorize</string>
                <key>requestTokenURL</key>
                <string>http://api.t.sohu.com/oauth/request_token</string>
                <key>callbackURL</key>
                <string>oob</string>
            </dict>
            <dict>
                <key>appkey</key>
                <string>y0wWHM1kTA74Ne2N</string>
                <key>secretkey</key>
                <string>2hhp1NuWgBmHyxd70umWY4E4iB5W3GbS</string>
                <key>key</key>
                <string>neteasemb</string>
                <key>title</key>
                <string>网易微博</string>
                <key>name</key>
                <string>WYWeiboSharer</string>
                <key>oauthType</key>
                <string>0</string>
                <key>isMore</key>
                <true/>
                <key>accessTokenURL</key>
                <string>http://api.t.163.com/oauth/access_token</string>
                <key>authorizeURL</key>
                <string>http://api.t.163.com/oauth/authenticate</string>
                <key>requestTokenURL</key>
                <string>http://api.t.163.com/oauth/request_token</string>
                <key>callbackURL</key>
                <string>http://127.0.0.1/success.html</string>
            </dict>
            <dict>
                <key>appkey</key>
                <string>c7b6fbfaaff9416b9bbb504af655f3a0</string>
                <key>secretkey</key>
                <string>fb308b19b0ea4c4abfbf64620678f265</string>
                <key>key</key>
                <string>renren</string>
                <key>title</key>
                <string>人人网</string>
                <key>name</key>
                <string>RenRenSharer</string>
                <key>oauthType</key>
                <string>2</string>
                <key>isMore</key>
                <false/>
                <key>accessTokenURL</key>
                <string></string>
                <key>authorizeURL</key>
                <string>https://graph.renren.com/oauth/authorize</string>
                <key>requestTokenURL</key>
                <string></string>
                <key>callbackURL</key>
                <string>http://graph.renren.com/oauth/login_success.html</string>
            </dict>
            <dict>
                <key>appkey</key>
                <string>330561226501b9685403288f8fa61826</string>
                <key>secretkey</key>
                <string>96b01feaeff7e797f4cd7b91a5072c63</string>
                <key>key</key>
                <string>kaixin</string>
                <key>title</key>
                <string>开心网</string>
                <key>name</key>
                <string>KaixinSharer</string>
                <key>oauthType</key>
                <string>0</string>
                <key>isMore</key>
                <false/>
                <key>accessTokenURL</key>
                <string>http://api.kaixin001.com/oauth/access_token</string>
                <key>authorizeURL</key>
                <string>http://api.kaixin001.com/oauth/authorize</string>
                <key>requestTokenURL</key>
                <string>http://api.kaixin001.com/oauth/request_token</string>
                <key>callbackURL</key>
                <string>http://127.0.0.1/success.html</string>
            </dict>
        </array>
        <key>Actions</key>
        <array>
            <dict>
                <key>name</key>
                <string>WXSession</string>
                <key>description</key>
                <string>分享给微信好友</string>
                <key>isMore</key>
                <string>NO</string>
            </dict>
            <dict>
                <key>name</key>
                <string>WXTimeLine</string>
                <key>description</key>
                <string>分享到朋友圈</string>
                <key>isMore</key>
                <string>NO</string>
            </dict>
            <dict>
                <key>name</key>
                <string>SMS</string>
                <key>description</key>
                <string>短信分享</string>
                <key>isMore</key>
                <false/>
            </dict>
            <dict>
                <key>name</key>
                <string>Safari</string>
                <key>description</key>
                <string>在Safari中打开</string>
                <key>isMore</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>Copy</string>
                <key>description</key>
                <string>复制</string>
                <key>isMore</key>
                <true/>
            </dict>
            <dict>
                <key>name</key>
                <string>Email</string>
                <key>description</key>
                <string>电子邮件</string>
                <key>isMore</key>
                <false/>
            </dict>
        </array>
        <key>TrackClickBack</key>
        <true/>
        <key>RedirectServices</key>
        <array>
            <dict>
                <key>title</key>
                <string>QZone</string>
                <key>name</key>
                <string>qzone</string>
            </dict>
            <dict>
                <key>title</key>
                <string>115收藏夹	</string>
                <key>name</key>
                <string>115</string>
            </dict>
            <dict>
                <key>title</key>
                <string>139社区	</string>
                <key>name</key>
                <string>139</string>
            </dict>
        </array>
    </dict>
</plist>