<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>过滤下拉框</title>
		<link rel="stylesheet" type="text/css"
			href="../../common/AIComp/css/AI.Comp.css" />
		<script type="text/javascript"
			src="../../common/AIComp/script/lib/jquery/jquery-1.3.2.min.js"></script>
		<script type="text/javascript"
			src="../../common/AIComp/script/AI.Comp.js"></script>

		<script type="text/javascript"
			src="../../common/Syntax/scripts/shCore.js"></script>
		<script type="text/javascript"
			src="../../common/Syntax/scripts/shBrushJScript.js"></script>
		<script type="text/javascript"
			src="../../common/Syntax/scripts/shBrushJava.js"></script>
		<script type="text/javascript"
			src="../../common/Syntax/scripts/shBrushCss.js"></script>
		<script type="text/javascript"
			src="../../common/Syntax/scripts/shBrushXml.js"></script>
		<link type="text/css" rel="stylesheet"
			href="../../common/css/component.css" />
		<link type="text/css" rel="stylesheet"
			href="../../common/Syntax/styles/shCoreDefault.css" />
	</head>
	<body>
		<script type="text/javascript">
			SyntaxHighlighter.all();
			var prjTypeJson = [
				{"val":20001,"pid":-1,"txt":"选项A","enable":0,"leaf":true},
				{"val":20002,"pid":-1,"txt":"选项B","leaf":true},
				{"val":20003,"pid":-1,"txt":"选项C","leaf":true}
			];
		</script>
		<h1>
			过滤下拉框--效果展示
		</h1>
		<div class="effect">
			<div id="projectTypeId" name="basePrjInfo.projectTypeId"
				showall="true" class="AI-Comp" ds="prjTypeJson" type="combox"
				allowFilter="true" showall="true" alltxt="--请选择-" allval="-1"></div>
		</div>
		<h1>
			使用解释
		</h1>
		<p>大体同<a href="commonList.html">普通下拉框</a>，当设置div中的allowFilter为true时，开启过滤功能</p>
		<p>
			引用的JS和CSS
		</p>
		<pre class="brush:js;">
			<link rel="stylesheet" type="text/css"
				href="common/AIComp/css/AI.Comp.css" />
			<script type="text/javascript"
				src="common/AIComp/script/lib/jquery/jquery-1.3.2.min.js"></script>
			<script type="text/javascript" src="common/AIComp/script/AI.Comp.js"></script>
				</pre>
		<p>
			下拉数据源(JSON格式)
		</p>
		<pre class="brush:js;">
			var prjTypeJson = [
				{"val":20001,"pid":-1,"txt":"选项A","enable":0,"leaf":true},
				{"val":20002,"pid":-1,"txt":"选项B","leaf":true},
				{"val":20003,"pid":-1,"txt":"选项C","leaf":true}
			];
		</pre>
		<p>
			使用(无需额外的调用JS)
		</p>
		<pre class="brush:html;">
			&lt;div id="projectTypeId" name="basePrjInfo.projectTypeId"
				showall="true" class="AI-Comp" ds="prjTypeJson" type="combox"
				allowFilter="true" showall="true" alltxt="--请选择-" allval="-1"&gt;&lt;/div&gt;
		</pre>
		<p>属性说明</p>
		<pre class="brush:js;">
			class		必须为AI-Comp
			ds 			JSON数据ID
			type		组件的类型
						combox	表示下拉框
			allowFilter	是否允许过滤
			showall
			alltxt		未选择时的中文展示
			allval		未选择时的value值
			multisel	是否多选
			showstyle	显示类型
						group 	分组显示
						tree	树形显示
			cascade		联动对应的下级ID
		</pre>
 		<p>
			方法说明
		</p>
		<pre class="brush:js;">
                       创建对象        var comtmp = new AI.Comp.Combox({
			                               el:'combox1',					
			                               showAll:true,
			                               ds:arr,//eval([{text:'M902',value:58920140},{text:'T105',value:86202159}])在转化为js数组
			                               multisel : true,
			                               allowfilter : true,
			                               value:arrayDimLevel2Str,
			                               id:'combox1'
		                          });
                       获取对象        AI.getComp('id').getValue()
                       销毁对象        AI.getComp('id').destory()
		</pre>
	</body>
</html>
