<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>组件总体概述</title>
		<script type="text/javascript"
			src="../common/Syntax/scripts/shCore.js"></script>
		<script type="text/javascript"
			src="../common/Syntax/scripts/shBrushJScript.js"></script>
		<script type="text/javascript"
			src="../common/Syntax/scripts/shBrushJava.js"></script>
		<script type="text/javascript"
			src="../common/Syntax/scripts/shBrushCss.js"></script>
		<script type="text/javascript"
			src="../common/Syntax/scripts/shBrushXml.js"></script>
		<link type="text/css" rel="stylesheet"
			href="../common/css/component.css" />
		<link type="text/css" rel="stylesheet"
			href="../common/Syntax/styles/shCoreDefault.css" />

		<script type="text/javascript">SyntaxHighlighter.all();</script>
	</head>
	<body>
		<h1>
			组件说明
		</h1>
		<p>
			所有展示组件的html文件均放在component目录下!一般都是按照功能划分文件夹，比如表格插件均放在component/table目录下，以此类推
		</p>
		<p>
			组件下通用的CSS放在common/css/component.css文件里。
		</p>

	</body>
</html>
