<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon.png</string>
				<string>icon@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.jinjiang.jjiphoneapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jinjiangtravelplus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sinaweibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sina.518a09fe56240b42b703acbb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx29af9cb8693bcd02</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088801729500460</string>
	<key>RSA private key</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALBF2MkNWLIlfHP/mtdynjKIAWTKAVtQ2DfxiLz6CBz8Vqa1HYpsW1+Q+2U0KNhClJf+F2LMY6Z9Wn+mOigdPtEWW6Uj6cHoiMmrgHXIYDgKI8DApCZVj253fXSfb4G+avTLeF+lVG024ixjDv4qHRuxIoVemfmdT1/T7wne+9jzAgMBAAECgYBkrU/27NeG0CA3xHp0qTMvmzxoi3Og6xjDQwGdJZUysPDwwCsCH4dEmvLqx5K4ibaC5Q4IUMJtmdTxaUh4FtQD9n06XZb+Z7YErZ5RPGgW5PBBk/wtbipj+CZbKJ0b6H4HEaIWA0GERdZV632XtGW16GQjcNdSCyA0FF6DAUU2eQJBAOKmp88OWxII3FYv10u2fl45x6OU+hMDz0dq1J7tcZytaRBidDvbu59ry1EjSIqEaXP+lO4jJfNrkfXX3Vn6N68CQQDHGS+DJkOhpmGr4Rzpk2nguAJDRZcIL/KU+FGzGX5/4FVQLiPJHWEXW+022yS6JMMTjPNB2XaZUREPK/nx3X/9AkBF6hKplEwTbBhLncZT3J9ugXRLyZC6fNpbtWCRBb2eDv/xxe0E6eseain1hWTDFcVRup5GNyFlzTDhHQ1yy/SRAkBR7KwfRCR6JLN1/UhfWHgtrqnHsp/mD4y6/b7oemoSBmY0evfgroUgDoR6mQvwyGW46rvB8dCaX8AsRQUxH9qlAkEAk2VgWRxHfhCre9Qt1GBwsglpVek4y/rWyRhOZY/zyYIvYB2Lq927o362jRfjA8otIwCBc0cT0U+ILXVdlSh7bQ==</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCxYbz9iHTMgMGws/3hOtnNyt/ckBPVNpFQHWWdI0IQKg6xLdbT95Ahqk/plKPIDj5rXAfAHMh0mf7+7y5yl9+oF1LLOn+pVemDGwS6DHbnZytPnN5nEeoor6l7ygrzPjErhevLiLmH/b7TpbeDj0kmqmQWSnhgAVFYBDXQrlCkCQIDAQAB</string>
	<key>Seller</key>
	<string>2088801729500460</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
