<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>query_weather_current_time</key>
	<string>http://www.weather.com.cn/data/sk/</string>
	<key>query_weather_one_day</key>
	<string>http://www.weather.com.cn/data/cityinfo/</string>
	<key>query_weather_week_day</key>
	<string>http://m.weather.com.cn/data/</string>
</dict>
</plist>
