<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>嵌套布局</title>
<link type="text/css" rel="stylesheet" href="../../../common/css/cssreset.css"/>
<link type="text/css" rel="stylesheet" href="style/common_title.css" />
<link type="text/css" rel="stylesheet" href="style/common_layout.css" />
</head>

<body>

<div class="AI_common_title2">
	<h2>标题名称</h2>
	<span class="shrinkage_down_ico2"></span>
</div>
<div class="AI_one_layout_border">
	<div class="AI_layout_inside_left50">左侧内容区域</div>
	
	<div class="AI_layout_inside_right50">右侧内容区域</div>
	<div class="clear"></div>

</div>


</body>
</html>
