<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一列布局</title>
<link type="text/css" rel="stylesheet" href="../../../common/css/cssreset.css"/>
<link type="text/css" rel="stylesheet" href="style/common_title.css" />
<link type="text/css" rel="stylesheet" href="style/common_layout.css" />
</head>

<body>

<div class="AI_common_title1">
	<h2>这是一个无收缩功能的标题名称</h2>
</div>

<br />

<div class="AI_common_title1">
	<h2>请在这里添加标题名称</h2>
</div>
<div class="AI_one_layout_border height50">
	<p>请在这里添加内容</p>
</div>

<br />


<div class="AI_common_title1">
	<h2>这是一个收起的标题头</h2>
	<span class="shrinkage_right_ico1"></span>
</div>

<br />


<div class="AI_common_title1">
	<h2>这是一个展开的标题头</h2>
	<span class="shrinkage_down_ico1"></span>
</div>
<div class="AI_one_layout_border height50">
	<p>请在这里添加内容</p>
</div>


</body>
</html>
