<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一列布局</title>
<link type="text/css" rel="stylesheet" href="../../../common/css/cssreset.css"/>
<link type="text/css" rel="stylesheet" href="style/common_title.css" />
<link type="text/css" rel="stylesheet" href="style/common_layout.css" />
</head>

<body>
<div class="AI_content_hatching">
	<div class="AI_common_title4">
	    <h2>标题名称</h2>
		<span class="shrinkage_right_ico1"></span>
	</div>
</div>

<div class="AI_content_hatching">
	<div class="AI_common_title4">
	    <h2>标题名称</h2>
		<span class="shrinkage_down_ico1"></span>
	</div>
	<div class="AI_content_hatching_mid">
		<img src="images/01_06.jpg" />
	</div>
</div>

</body>
</html>
