.ico-combox-default{
	background: url(../images/ICO/combox_default_ico.gif) no-repeat 2px 2px;
}
.ico-ico1{
	background: url(../images/ICO/icon1.gif) no-repeat 1px 1px;
}
.ico-ico2{
	background: url(../images/ICO/icon2.gif) no-repeat 1px 1px;
}
.ico-ico3{
	background: url(../images/ICO/icon3.gif) no-repeat 1px 1px;
}
