/**图形容器**/
.panelContainer {
	position:relative;
	width: 100%;
	height:95%;
	overflow:hidden;
	overflow-y:auto;
}
.container{
	height: 4000px;
	width: 250%;
	left:0px;
	top:0px;
	overflow-x:hidden;
	overflow-y: auto;
	cursor: pointer;
	border: 1px dashed lightblue;
	position: absolute;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
/**节点样式**/
.node{
	position:absolute;
}
.node_lbg{
	width:100%;
	height:100%;
}
/**Small节点**/
.small_green{
	background:url(../images/node/small2_right_green.jpg) top right no-repeat;
}
.small_green_lbg{
	background:url(../images/node/small2_left_green.jpg) top left no-repeat;
}
.small_blue{
	background:url(../images/node/small_right_blue.jpg) top right no-repeat;
}
.small_blue_lbg{
	background:url(../images/node/small_left_blue.jpg) top left no-repeat;
}
.small_red{
	background:url(../images/node/small2_right_red.jpg) top right no-repeat;
}
.small_red_lbg{
	background:url(../images/node/small2_left_red.jpg) top left no-repeat;
}
.small_yellow{
	background:url(../images/node/small_right_yellow.jpg) top right no-repeat;
}
.small_yellow_lbg{
	background:url(../images/node/small_left_yellow.jpg) top left no-repeat;
}

.small_v_green{
	background:url(../images/node/small_bottom_green.jpg) bottom left no-repeat;
}
.small_v_green_lbg{
	background:url(../images/node/small_top_green.jpg) top left no-repeat;
}
.small_v_red{
	background:url(../images/node/small_bottom_red.jpg) bottom left no-repeat;
}
.small_v_red_lbg{
	background:url(../images/node/small_top_red.jpg) top left no-repeat;
}
/**Middle节点**/
.middle_red{
	background:url(../images/node/middle2_right_red.jpg) top right no-repeat;
}
.middle_red_lbg{
	background:url(../images/node/middle2_left_red.jpg) top left no-repeat;
}
.middle_green{
	background:url(../images/node/middle2_right_green.jpg) top right no-repeat;
}
.middle_green_lbg{
	background:url(../images/node/middle2_left_green.jpg) top left no-repeat;
}
.middle2_green{
	background:url(../images/node/middle3_right_green.jpg) top right no-repeat;
}
.middle2_green_lbg{
	background:url(../images/node/middle3_left_green.jpg) top left no-repeat;
}
.middle3_green{
	background:url(../images/node/middle_right_green150.jpg) top right no-repeat;
}
.middle3_green_lbg{
	background:url(../images/node/middle_left_green150.jpg) top left no-repeat;
}
.middle4_green{
	background:url(../images/node/middle_right_green130.jpg) top right no-repeat;
}
.middle4_green_lbg{
	background:url(../images/node/middle_left_green130.jpg) top left no-repeat;
}
.middle5_green{
	background:url(../images/node/middle_right_green95.jpg) top right no-repeat;
}
.middle5_green_lbg{
	background:url(../images/node/middle_left_green95.jpg) top left no-repeat;
}

/**Big节点**/
.big_green{
	background:url(../images/node/big_right_purple.jpg) top right no-repeat;
}
.big_green_lbg{
	background:url(../images/node/big_left_purple.jpg) top left no-repeat;
}
/**节点数据样式**/
.data{
	line-height:36px;
	width:100%;
	text-indent:5px;
	color:#666666;
	text-align:center;
	position:relative;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow:hidden;	
}
.vertical{
	height:100%;
	layout-flow : vertical-ideographic;
	text-align:center;
	vertical-align:middle;
}
.dataList{
	position:relative;
}
.dataList dt{
	text-align:center;
	font-weight:bold;
	line-height:32px;
	color:#fff;
	padding-left:8px;
	width:180px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.dataList dd{
	text-align:left;
	padding:1px 0px 1px 12px;
	color:#666666;
}
/**展开、收缩按钮**/
.node_btn{
	height:16px;
	width:16px;
	cursor:pointer;
	position:absolute;
}
.expand{
	background:url(../images/ico/icon_expand.gif);
	
}
.shrink{
	background:url(../images/ico/icon_shrink.gif);
}
.btn_top{
	top:-8px;
	left:50%;
	margin-left:-8px;
}
.btn_bottom{
	bottom:-8px;
	left:50%;
	margin-left:-8px;
}
.btn_left{
	left:-8px;
	bottom:50%;
	margin-bottom:-8px;
}
.btn_right{
	right:-8px;
	top:50%;
	margin-top:-8px;
}
.more_ico{
	position:absolute;
	right:15px;
	top:0px;
	width:30px;
	height:31px;
	background:url(../images/ico/more.gif) right center no-repeat;
}
.click_ico{
	position:absolute;
	right:15px;
	top:0px;
	width:25px;
	height:31px;
	background:url(../images/ico/link.gif) right center no-repeat;
}
/**进度指数**/
.progressBar{
	height:42px;
	width:100%;
	clear:both;
	color:black;
	margin:0 auto;
	text-align:center;
}
.progressBar span{
	color: red;
}
.guageBar{
	height:11px;
	width:85%;
	text-align:left;
	line-height:11px;
	border:2px solid #F0FFE2;
	margin: 0 auto;
	background:url(../images/ico/prg_bg.gif) left -1px  repeat-x;
}
.guage{
	height:10px;
	background:url(../images/ico/prg_bg.gif) left -13px  repeat-x;
}
.loadingGIF{
	position:absolute;
}
.upArrow{
	font-weight: bold;
	color: red;
	padding-left:10px;
	padding-right:20px;
	background: url(../images/ico/arrow_up.gif) top right no-repeat;
}
.downArrow{
	font-weight: bold;
	color:green;
	text-indent:10px;
	padding-left:10px;
	padding-right:20px;
	background: url(../images/ico/arrow_down.gif) top right no-repeat;
}
/**more展示层**/
.moreInfo{
	color:#444;
	display: none;
	position: absolute;
	width:230px;
	border:1px solid #45A54C;
	background-color:#EEFFDD;
	height:auto;
	overflow:auto;
	line-height:22px;
	outline: #E9E9E9 double thin;
}
.moreHeadDiv{
	width:100%;
	height:25px;
	line-height:25px;
	color:#fff; 
	text-align:center; 
	font-weight:bold;
	background: url(../images/node/title_middle.gif) top repeat;
}
