/* CSS Document */
body{
font-family:Verdana, Arial, Helvetica, sans-serif;
}
body h1{
color:#000066;
font-size:16px;
line-height:30px;
}
body p{
color:#000066;
font-size:16px;
line-height:28px;
}